.sidebar-fixed {
    height: 100vh;
    width: 270px;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    z-index: 1050;
    background-color: #fff;
    padding: 1.5rem;
    padding-top: 0;
}

.sidebar-fixed .list-group .active {
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.sidebar-fixed .logo-wrapper {
    padding: 2.5rem;
}

.sidebar-fixed .logo-wrapper img {
    max-height: 50px;
}

#menu-top {
    display: inline;
}

.btn-rounded {
    padding: 1rem;
    border-radius: 50%;
    -webkit-border-radius: 50%;
}

.btn-rounded-10 {
    border-radius: 5px;
    -webkit-border-radius: 5px;
}

.cascading-admin-card .admin-up {
    margin-left: 4%;
    margin-right: 4%;
    margin-top: -20px;
}

.cascading-admin-card .admin-up .fa,
.cascading-admin-card .admin-up .far {
    padding: 1.7rem;
    font-size: 2rem;
    color: #fff;
    text-align: left;
    border-radius: 3px;
}

.cascading-admin-card .admin-up .data {
    float: right;
    margin-top: 2rem;
}

ul.stepper {
    counter-reset: section;
    overflow-y: auto;
    overflow-x: hidden;
    margin: 1em -1.5rem;
    padding: 0 1.5rem;
    padding: 1.5rem;
}

.stepper-vertical {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.stepper-vertical li {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    position: relative;
}

.timeline-main .stepper.stepper-vertical.timeline li a {
    padding: 0px 24px;
    left: 50%;
}

ul.stepper li a {
    padding: 1.5rem;
    text-align: center;
}

.stepper-vertical li a {
    -webkit-align-self: flex-start;
    -ms-flex-item-align: start;
    align-self: flex-start;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    position: relative;
}

.timeline-main .stepper.stepper-vertical.timeline li a .circle {
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 1.4em;
    text-align: center;
    position: absolute;
    top: 16px;
    margin-left: -50px;
    background-color: #ccc;
    z-index: 2;
}

ul.stepper li a .circle {
    display: inline-block;
    color: #fff;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: rgba(0, 0, 0, .38);
    width: 1.75rem;
    height: 1.75rem;
    text-align: center;
    line-height: 1.7rem;
    margin-right: .5rem;
}

.stepper-vertical li a .circle {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
}

.timeline-main .stepper.stepper-vertical.timeline li .step-content {
    width: 45%;
    float: left;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    position: relative;
}

.stepper-vertical li .step-content {
    display: block;
    margin-top: 0;
    margin-left: 3.13rem;
    padding: .94rem;
}

.timeline-main .stepper.stepper-vertical.timeline li.timeline-inverted {
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
}
.content-extrato{
    background: white; 
    padding: 2rem;
}

@media (min-width: 1200px) {
    .navbar,
    .page-footer,
    main {
        padding-left: 270px;
    }
    #menu-top {
        display: none !important;
    }
    #content-father {
        padding-top: 0 !important;
        margin-top: 0 !important;
    }
    #main-content {
        padding-top: 1rem !important;
    }
}

@media (max-width: 1199.98px) {
    .sidebar-fixed {
        display: none;
    }
    #main-content {
        padding-top: 1rem !important;
    }
    .btn{
        padding: 0.8rem !important;
    }
    .w-25{
        width: 75% !important;
    }
    .data-extrato{
        margin-bottom: 1rem !important;
    }
    .content-extrato{
        padding: 1rem !important;
    }
    .fixed-bottom{
        position: relative !important;
    }
    h4{
        font-size: 1.3rem !important;
    }
}