.titulo{
    color: #e67e22   !important;
}
.linha-hr{
    border-top: solid 1px #e67e22    !important;
}
.margin-bot{
    margin-bottom: 2.5rem !important;
}
.md-form{
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}
.texto-uppercase{
    text-transform: uppercase;
}