.colorGrey{
    color: #757575;
}
.width33{
    width: 33.33%;
}
.paddingButtonEdit{
    padding: 0.5rem 0.3rem 0.5rem 0.5rem;
}
.paddingButtonDelete{
    padding: 0.5rem;
}
.displayBlock{
    display: block;
}
.icon{
    color: #4285f4;
}
.backgroundHeaderModal{
    background-color: #4285f4;
    color: white;
}
.btn-cancelar{
    border-radius: 1rem !important;
    padding: 0.27rem 0.5rem !important;
}
.btn-editar{
    border-radius: 1rem !important;
    padding: 0.27rem 0.5rem !important;
}