.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.invisible{
  display: none;
  width: 0px !important;
  height: 0px !important;
}

.left-0{
  padding-left: 0px !important;
  margin-left: 0px !important;
  overflow-x: hidden;
}

.img-menu{
  padding: 1.5rem !important;
  margin-bottom: 2rem !important;
  margin-top: 2rem !important;
}

.footer-copyright{
  margin-left: -270px !important;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
